<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Dashboard</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">

</head> 

<body>
    
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="/">CMS</a></h1>
		<h1 class="blog-name pt-lg-4 mb-0"><a>About</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    			
					
					<div class="bio mb-3"> </div><!--//Intro-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
			        </ul><!--//repository list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item ">
					    <a class="nav-link" href="/">Refresh <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/homepage">Homepage</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/reviewHome">Review</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/join">Join</a>
					</li>
					<li class="nav-item active">
					    <a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/license">Licensing</a>
					</li>
				</ul>

			</div>
		</nav>
    </header>
    


    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading"><small><strong>About CMS</strong></small></h2>
				<p><small><i>Content management system using MongoDB.</i></small></p>
			    <div class="intro"></div>
			   
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
			    <div class="item mb-5">
				    <div class="media">
					    
					    <div class="media-body">
						 <p><i><b>C</b>ontent<b> M</b>anagement<b> S</b>ystem</i> using MongoDB is a NoSQL based CMS. This project is developed as a part of academics. The developed system
						 manage NoSQL queries using a middleware, Mongoose. This CMS support following list of queries.</p>
						 <ol>
							<li>
								Create operation
							</li>
							<li>
								Delete operation
							</li>
							<li>
								Retrieve operation
							</li>
							<li>
								Update operation
							</li>
							<li>
								Aggregate operation
							</li>
							<li>
								Autocomplete operation
							</li>
							<li>
								Search operation
							</li>
							<li>
								Sort operation
							</li>
							<li>
								And, few others
							</li>
						 </ol>
						 <p>We have also use following middlewares and dependencies</p>
						 <ol>
							<li>
								Mongoose
							</li>
							<li>
								NPM
							</li>
							<li>
								NodeJS
							</li>
							<li>
								Multer
							</li>
							<li>
								ExpressJS
							</li>
							<li>
								Validator
							</li>
						 </ol>
						 <p>Following is the list of languages that we have used</p>
						<ol>
							<li>
								HTML 
							</li>
							<li>
								CSS 
							</li>
							<li>
								Bootstrap
							</li>
							<li>
								ExpressJS
							</li>
							<li>
								Javascript
							</li>
							<li>
								Ajax
							</li>
							<li>
								ESJ Canvas
							</li>
							<li>
								NodeJS for Mongoose
							</li>
							
							
							
							
							
						</ol>
						 
						 
						 
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
			    
			    
				
		    </div>
	    </section>
	   
    
    </div><!--//main-wrapper-->
    
    
    
   

    
       
    <!-- Javascript -->          
    <script src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script> 
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="assets/js/demo/style-switcher.js"></script>     
    

</body>
</html> 

